.sidebar
  position: absolute
  height: 100vh
  width: 450px
  top: 0
  left: -452px
  transition: all .3s ease-out
  background-color: white
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
  z-index: 9
  &.active
    left: 0
    .container--toggler i
      transform: rotate(180deg)

  .sidebar--content
    overflow: auto
    height: 100%

  header
    background-color: #00695B
    padding: 10px
    height: 64px
    ul
      margin: 0
      li
        float: left
        height: 44px
        input, label::after, label::before
          display: none
        [type="radio"] + label
          background-color: #00C0A6
          margin-right: 10px
          color: white
          border-radius: 50%
          text-align: center
          padding-left: 0
          height: 44px
          width: 44px
          font-size: 25px
          display: flex
          flex-direction: column
          justify-content: center


  .farmForm--body
    padding: 20px 10px 10px
    overflow: hidden
    background-color: white
    .select-field
      margin: 0

  select
    display: block

  .form-divider
    background-color: #00A599
    padding: 10px
    label
      color: white

  .reports
    padding: 20px 10px
    background-color: #eee
    .option--container
      box-shadow: 2px 2px 4px #ccc
      background-color: transparentize(white, .2)
      padding: 20px
      text-align: center
      color: #666
      border-radius: 2px
      margin-bottom: 15px
      position: relative
      cursor: pointer
      &.disabled
        opacity: .2
        background-color: transparent
        pointer-events: none
        box-shadow: none
        .option--info
          color: #ccc
      &.active
        box-shadow: inset 0px 0px 0px 5px #00A599
        .option--info
          color: #00A599

      .option--info
        position: absolute
        right: 10px
        top: 10px
        color: #ccc

      .option--container-title
        margin: 0
        font-size: 12px

  footer
    padding: 10px 10px 0
