.sidebar {
  position: absolute;
  height: 100vh;
  width: 450px;
  top: 0;
  left: -452px;
  transition: all .3s ease-out;
  background-color: white;
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  z-index: 9; }
  .sidebar.active {
    left: 0; }
    .sidebar.active .container--toggler i {
      transform: rotate(180deg); }
  .sidebar .sidebar--content {
    overflow: auto;
    height: 100%; }
  .sidebar header {
    background-color: #00695B;
    padding: 10px;
    height: 64px; }
    .sidebar header ul {
      margin: 0; }
      .sidebar header ul li {
        float: left;
        height: 44px; }
        .sidebar header ul li input[type="radio"], .sidebar header ul li label::after, .sidebar header ul li label::before {
          display: none; }
        .sidebar header ul li [type="radio"] + label {
          background-color: #00C0A6;
          margin-right: 10px;
          color: white;
          border-radius: 50%;
          text-align: center;
          padding-left: 0;
          height: 44px;
          width: 44px;
          font-size: 25px;
          display: flex;
          flex-direction: column;
          justify-content: center; }
  .sidebar .farmForm--body {
    padding: 20px 10px 10px;
    overflow: hidden;
    background-color: white; }
    .sidebar .farmForm--body .select-field {
      margin: 0; }
  .sidebar select {
    display: block; }
  .sidebar .form-divider {
    background-color: #00A599;
    padding: 10px; }
    .sidebar .form-divider label {
      color: white; }
  .sidebar .reports {
    padding: 20px 10px;
    background-color: #eee; }
    .sidebar .reports .option--container {
      box-shadow: 2px 2px 4px #ccc;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      text-align: center;
      color: #666;
      border-radius: 2px;
      margin-bottom: 15px;
      position: relative;
      cursor: pointer; }
      .sidebar .reports .option--container.disabled {
        opacity: .2;
        background-color: transparent;
        pointer-events: none;
        box-shadow: none; }
        .sidebar .reports .option--container.disabled .option--info {
          color: #ccc; }
      .sidebar .reports .option--container.active {
        box-shadow: inset 0px 0px 0px 5px #00A599; }
        .sidebar .reports .option--container.active .option--info {
          color: #00A599; }
      .sidebar .reports .option--container .option--info {
        position: absolute;
        right: 10px;
        top: 10px;
        color: #ccc; }
      .sidebar .reports .option--container .option--container-title {
        margin: 0;
        font-size: 12px; }
  .sidebar footer {
    padding: 10px 10px 0; }
